* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start;
}

.grid>* {
    background: orange;
    width: 100%;
}

.grid>[style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}